@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 6rem;
}

.gif {
    width: 5rem;
}

.nuevoprecio {
    font-size: 1.2rem;
    font-weight: 500;
}

.imagencard{
    width: 100%;
    height: 15rem;
}